fastapi
uvicorn[standard]
sqlalchemy
pydantic
groq
python-dotenv
python-docx
jinja2
apscheduler
python-multipart
passlib
bcrypt
PyJWT
email-validator
google-auth-oauthlib
google-api-python-client
httpx
